.card{
    height: 90px;
    width: 500px;
  
    border-radius: 10px;
    display: flex;
    background-color: rgb(24, 24, 24);
}
.card:hover{
    background-color:  rgb(39, 39, 39);
}
.flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
   
}
.cat{
    height: 100%;
    width: 90px;
    border-radius: 10px;
}
.p{
    font-size: 18px;
    color: aliceblue;
    margin-top: 5px;
    margin-left: 8px;
}
.h{
    color: gray;
    margin-top: 5px;
    margin-left: 8px;
}